:root{

}

html{
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Ravi';
}

a{
    text-decoration: none;
}

li,ul{
    list-style-type: none;
}